<div class="card">
    <div class="p-2" style="text-align: center">
        <img src="assets/img/new-user.jpg" style="height: 4rem; width: 4rem;"
            class="card-img-top rounded-circle img-thumbnail">
    </div>
    <form class="mb-3" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
                        </div>
                        <input formControlName="firstName" type="text" class="form-control" placeholder="First Name"
                            [ngClass]="{ 'is-invalid': f.firstName.errors && (registrationForm.controls['firstName'].touched || submitted)}">
                        <div *ngIf="f.firstName.errors" class="invalid-feedback ml-3">
                            <div *ngIf="f.firstName.errors.required">First name is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user-tie"></i></span>
                        </div>
                        <input formControlName="lastName" type="text" class="form-control" placeholder="Last Name"
                            [ngClass]="{ 'is-invalid': f.lastName.errors && (registrationForm.controls['lastName'].touched || submitted)}">
                        <div *ngIf="f.lastName.errors" class="invalid-feedback ml-3">
                            <div *ngIf="f.lastName.errors.required">Last name is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="far fa-user-circle"></i>
                            </span>
                        </div>
                        <input formControlName="username" type="text" class="form-control" placeholder="User Name"
                            [ngClass]="{ 'is-invalid': f.username.errors && (registrationForm.controls['username'].touched || submitted)}">
                        <div *ngIf="f.username.errors" class="invalid-feedback ml-3">
                            <div *ngIf="f.username.errors.required">Nick Name is required</div>
                            <div *ngIf="f.username.errors.fildExist">{{f.username.errors.fildExist.message}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="input-group">
                        <input formControlName="birthday" class="form-control" placeholder="Birthdate"
                            (click)="d.toggle()" ngbDatepicker #d="ngbDatepicker" autocomplete="off"
                            [ngClass]="{ 'is-invalid': f.birthday.errors && (registrationForm.controls['birthday'].touched || submitted)}">
                        <div class="input-group-append">
                            <button #buttonEl class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                                type="button"></button>
                        </div>
                        <div *ngIf="f.birthday.errors" class="invalid-feedback ml-3">
                            <div *ngIf="f.birthday.errors.required">Birthday is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ================ -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text"><i class="fas fa-venus-mars"></i></label>
                </div>
                <select class="custom-select" formControlName="gender"
                [ngClass]="{ 'is-invalid': f.gender.errors && (registrationForm.controls['gender'].touched || submitted)}">
                    <!-- <option selected>Choose Gender</option> -->
                    <option value='' disabled>Choose Gender</option>
                    <option value='true'>Male</option>
                    <option value='false'>Female</option>
                </select>
                <div *ngIf="f.gender.errors" class="invalid-feedback ml-3">
                    <div *ngIf="f.gender.errors.required">Gender is required</div>
                </div>

            </div>
            <!-- ================ -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-phone-alt"></i>
                    </span>
                </div>
                <input formControlName="phoneNumber" type="text" class="form-control" placeholder="Phone Number"
                    [ngClass]="{ 'is-invalid': f.phoneNumber.errors && (registrationForm.controls['phoneNumber'].touched || submitted)}">
                <div *ngIf="f.phoneNumber.errors" class="invalid-feedback ml-3">
                    <div *ngIf="f.phoneNumber.errors.required">Phone number is required</div>
                    <div *ngIf="f.phoneNumber.errors.invalidNumber">Phone number is not valid</div>
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                </div>
                <input formControlName="email" type="text" class="form-control" placeholder="Email"
                    [ngClass]="{ 'is-invalid': f.email.errors && (registrationForm.controls['email'].touched || submitted)}">
                <div *ngIf="f.email.errors" class="invalid-feedback ml-3">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email is not valid</div>
                    <div *ngIf="f.email.errors.fildExist">{{f.email.errors.fildExist.message}}</div>
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input formControlName="password" autocomplete="password" type="password" class="form-control"
                    placeholder="Password"
                    [ngClass]="{ 'is-invalid': f.password.errors && (registrationForm.controls['password'].touched || submitted)}">
                <div *ngIf="f.password.errors" class="invalid-feedback ml-3">
                    <div *ngIf="f.password.errors.invalidPassword">{{f.password.errors.invalidPassword.message}} </div>
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input formControlName="confirmPassword" autocomplete="password" type="password" class="form-control"
                    placeholder="Confirm Password"
                    [ngClass]="{ 'is-invalid': (registrationForm.errors || f.confirmPassword.errors) && (registrationForm.controls['confirmPassword'].touched || submitted)}">
                <div *ngIf="f.confirmPassword.errors " class="invalid-feedback ml-3">
                    <div *ngIf="f.confirmPassword.errors.required">Confirmation password is required</div>
                </div>
                <div *ngIf="registrationForm.errors" class="invalid-feedback ml-3">
                    <div *ngIf="registrationForm.hasError('notSame')">Confirmation password is not sam with password
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body p-0">
            <div class="row justify-content-center">
                <button class="btn gradient text-light" type="button" (click)="onSubmit()">Register</button>
            </div>
            <div class="row justify-content-center">
                <button type="button" class="btn btn-link" (click)="swichToAuth()">I have Account</button>
            </div>
        </div>
    </form>
</div>