<div>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="addServiceForm">
            <input formControlName="name" type="text" class="form-control " placeholder="Service Name" ngbAutofocus
                [ngClass]="{ 'is-invalid': f.name.errors && submitted}">
            <div *ngIf="f.name.errors" class="invalid-feedback ml-3">
                <div *ngIf="f.name.errors.required">Name is required</div>
            </div>

            <input formControlName="isshuer" type="text" class="form-control mt-3" placeholder="Service Isshuer"
                [ngClass]="{ 'is-invalid': f.isshuer.errors &&  submitted}">
            <div *ngIf="f.isshuer.errors" class="invalid-feedback ml-3">
                <div *ngIf="f.isshuer.errors.required">Service Isshuer is required</div>
            </div>

            <input formControlName="logOutUrl" type="text" class="form-control mt-3" placeholder="Service Log Out URL"
                [ngClass]="{ 'is-invalid': f.logOutUrl.errors && submitted}">
            <div *ngIf="f.logOutUrl.errors" class="invalid-feedback ml-3">
                <div *ngIf="f.logOutUrl.errors.required">Service Log Out URL is required</div>
            </div>

            <input name="time" type="text" value="{{time}}" class="form-control mt-3" placeholder="Token Expiration Time"  (click)="openTimePiker()">
            <div *ngIf="f.tokenExpirationTime.errors" class="invalid-feedback ml-3">
                <div *ngIf="f.tokenExpirationTime.errors.required">Token Expiration Time is required</div>
            </div>

            <input formControlName="password" type="password" class="form-control mt-3" placeholder="Service Password"
                [ngClass]="{ 'is-invalid': f.password.errors && submitted}">
            <div *ngIf="f.password.errors" class="invalid-feedback ml-3">
                <div *ngIf="f.password.errors.required">Service Password is required</div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="save()">Save</button>
    </div>
</div>


