    <div class="container bg-light">
        <div class="row ml-4 pt-4 mt-3">
            <h2>Profile</h2>
        </div>
        <hr class="m-0">
        <div class="row ml-4 pt-4">
            <div class="col-sm-4" style="border-style: solid;border-color: red;">
                <strong>Name</strong>
            </div>
            <div class="col-sm-3" style="border-style: solid;border-color: blue;"></div>
        </div>
        <div class="row ml-4 pt-4">
            <div class="col-sm-4" style="border-style: solid;border-color: red;">
                <strong>Name</strong>
            </div>
            <div class="col-sm-3" style="border-style: solid;border-color: rgb(51, 116, 57);"></div>
        </div>
        <div class="row ml-4 pt-4">
            <div class="col-sm-4" style="border-style: solid;border-color: red;">
                <strong>Name</strong>
            </div>
            <div class="col-sm-3" style="border-style: solid;border-color: blue;"></div>
        </div>
        <div class="row ml-4 pt-4">
            <div class="col-sm-4" style="border-style: solid;border-color: red;">
                <strong>Name</strong>
            </div>
            <div class="col-sm-3" style="border-style: solid;border-color: blue;"></div>
        </div>
        <div class="row ml-4 pt-4 mt-3">
            <h2>Contact</h2>
        </div>
        <hr class="m-0">
        <div class="row ml-4 pt-4">
            <div class="col-sm-4" style="border-style: solid;border-color: red;">
                <strong>Name</strong>
            </div>
            <div class="col-sm-3" style="border-style: solid;border-color: blue;"></div>
        </div>
        <div class="row ml-4 pt-4">
            <div class="col-sm-4" style="border-style: solid;border-color: red;">
                <strong>Name</strong>
            </div>
            <div class="col-sm-3" style="border-style: solid;border-color: blue;"></div>
        </div>
        <div class="row ml-4 pt-4">
            <div class="col-sm-4" style="border-style: solid;border-color: red;">
                <strong>Name</strong>
            </div>
            <div class="col-sm-3" style="border-style: solid;border-color: blue;"></div>
        </div>
        <div class="row ml-4 pt-4">
            <div class="col-sm-4" style="border-style: solid;border-color: red;">
                <strong>Name</strong>
            </div>
            <div class="col-sm-3" style="border-style: solid;border-color: blue;"></div>
        </div>
        <div class="row ml-4 pt-4">
            <div class="col-sm-4" style="border-style: solid;border-color: red;">
                <strong>Name</strong>
            </div>
            <div class="col-sm-3" style="border-style: solid;border-color: blue;"></div>
        </div>
        <div class="row ml-4 pt-4">
            <div class="col-sm-4" style="border-style: solid;border-color: red;">
                <strong>Name</strong>
            </div>
            <div class="col-sm-3" style="border-style: solid;border-color: blue;"></div>
        </div>
        <div class="row ml-4 pt-4">
            <div class="col-sm-4" style="border-style: solid;border-color: red;">
                <strong>Name</strong>
            </div>
            <div class="col-sm-3" style="border-style: solid;border-color: blue;"></div>
        </div>
        <div class="row ml-4 pt-4">
            <div class="col-sm-4" style="border-style: solid;border-color: red;">
                <strong>Name</strong>
            </div>
            <div class="col-sm-3" style="border-style: solid;border-color: blue;"></div>
        </div>
        <div class="row ml-4 pt-4">
            <div class="col-sm-4" style="border-style: solid;border-color: red;">
                <strong>Name</strong>
            </div>
            <div class="col-sm-3" style="border-style: solid;border-color: blue;"></div>
        </div>
        <div class="row ml-4 pt-4">
            <div class="col-sm-4" style="border-style: solid;border-color: red;">
                <strong>Name</strong>
            </div>
            <div class="col-sm-3" style="border-style: solid;border-color: blue;"></div>
        </div>
        <div class="row ml-4 pt-4">
            <div class="col-sm-4" style="border-style: solid;border-color: red;">
                <strong>Name</strong>
            </div>
            <div class="col-sm-3" style="border-style: solid;border-color: blue;"></div>
        </div>
        <div class="row ml-4 pt-4">
            <div class="col-sm-4" style="border-style: solid;border-color: red;">
                <strong>Name</strong>
            </div>
            <div class="col-sm-3" style="border-style: solid;border-color: blue;"></div>
        </div>
        <div class="row ml-4 pt-4">
            <div class="col-sm-4" style="border-style: solid;border-color: red;">
                <strong>Name</strong>
            </div>
            <div class="col-sm-3" style="border-style: solid;border-color: blue;"></div>
        </div>
        <div class="row ml-4 pt-4">
            <div class="col-sm-4" style="border-style: solid;border-color: red;">
                <strong>Name</strong>
            </div>
            <div class="col-sm-3" style="border-style: solid;border-color: blue;"></div>
        </div>
        <div class="row ml-4 pt-4">
            <div class="col-sm-4" style="border-style: solid;border-color: red;">
                <strong>Name</strong>
            </div>
            <div class="col-sm-3" style="border-style: solid;border-color: blue;"></div>
        </div>
        <div class="row ml-4 pt-4 pb-3 mb-3">
            <div class="col-sm-4" style="border-style: solid;border-color: red;">
                <strong>Name</strong>
            </div>
            <div class="col-sm-3" style="border-style: solid;border-color: blue;"></div>
        </div>
    </div>
