<div class="container bg-light mt-4 pb-3 mb-3" style="min-height: 86vh;">
    <div class="row ml-4 pt-4 mt-3">
        <div class="col-6 col-sm-6 pl-0 pt-1">
            <h2>Services</h2>
        </div>
        <div class="col-6 col-sm-6">
            <div class="float-right pr-3">
                <button class="btn btn-link mt-2" (click)="addService()">
                    <h5><i class="fas fa-plus"></i> Add Service</h5>
                </button>
            </div>
        </div>
    </div>
    <!-- <hr class="m-0 "> -->

    <div class="row p-3" *ngIf="!services">
        <div class="col-12 text-center" *ngIf="loading">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div class="col-12 alert alert-info" *ngIf="!loading" role="alert">
            You d'ont hawe any service.
        </div>
    </div>
    <div class="row pl-3 pt-0 pr-3 pb-0" *ngIf="services">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Domain</th>
                        <th scope="col">Modified</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let service of servicesTable">
                        <td class="clickable text-primary" [routerLink]='["/services/"+ service.id]'>
                            {{ service.name }}
                        </td>
                        <td>{{ service.domain}}</td>
                        <td>{{ service.createdOn |  date:'mediumDate' }}</td>
                        <td class="text-center">
                            <button class="btn btn-linck" (click)="updateService(service)">
                                <span style="color: Dodgerblue;">
                                    <i class="fas fa-pencil-alt"></i>
                                </span>
                            </button>
                            <button class="btn btn-linck" (click)="deleteService(service.id)">
                                <span class="text-danger">
                                    <i class="fas fa-trash-alt"></i>
                                </span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row pr-5 justify-content-end" *ngIf="collectionSize>pageSize">
        <div class="d-flex justify-content-between pr-3">
            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
            </ngb-pagination>
        </div>
    </div>
</div>
