<html>
<head>
    <title>redirecting...</title>
</head>
<body>
    <div>Redirecting to Service...</div>
<script>
    $(function () {
        console.log("dasdasda");
        window.location.replace("https://localhost:5001/");
    })
    
</script>
</body>
</html>