<div class="card" style="min-width: 18rem;">
    <div class="p-2" style="text-align: center">
        <img src="assets/img/cyber_security-512.png" style="height: 4rem; width: 4rem;"
            class="card-img-top rounded-circle img-thumbnail">
    </div>
    <div class="card-body">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="username"><i class="fas fa-user-tie"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                aria-describedby="username">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="username"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" class="form-control" placeholder="Username" aria-label="Username"
                aria-describedby="username">
        </div>
    </div>
    <div class="card-body">
        <div class="row justify-content-center">
            <button class="btn gradient">Submit form</button>
        </div>
        <div class="row justify-content-center">
            <button class="btn btn-link" (click)="swichToTegistration()">Create Account</button>
        </div>
    </div>
</div>