
      <div class="card" style="min-width: 18rem; max-width: 28rem;">
        <div class="p-2" style="text-align: center">
          <img src="assets/img/cyber_security-512.png" style="height: 4rem; width: 4rem;"
            class="card-img-top rounded-circle img-thumbnail">
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
